@use "sass:map";
@import "./variables.scss";

@mixin faded-text {
  font-size: map.get($font-sizes, "smaller");
  font-weight: 600;
  font-family: $secondary-font;

  color: $light-gray;

  @media only screen and (min-width: map.get($breakpoints, "desktop")) {
    font-size: map.get($font-sizes, "small");
  }
}

@mixin error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  height: 100vh;
  color: black;
}

@mixin error-title {
  margin-bottom: 0.5rem;

  font-size: 3.5rem;
  font-weight: bold;
  font-family: $primary-font;
}
