@use "sass:map";
@import "@/app/styles/variables.scss";

.footer {
  height: 5rem;
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: white;
  padding: 1rem 2rem;
  text-align: right;

  &Paragraph {
    margin-right: 1rem;
    color: black;
    font-size: map.get($font-sizes, "base");
  }

  &Link {
    font-size: map.get($font-sizes, "base");
    font-style: italic;
  }
}
