@import "@/app/styles/variables.scss";
.modal {
  &Box {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 40rem;
    width: 95%;
    padding: 2rem 0px;

    background-color: white;
    outline: white;
    border-color: white;

    border-radius: 0.5rem;

    transform: translate(-50%, -50%);
  }
}

.container {
  position: relative;

  &Button {
    position: absolute;
    top: 0px;
    right: 1.5rem;
  }
}
