@use "sass:map";
@import "@/app/styles/variables.scss";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "desktop")) {
  .modal {
    &Box {
      max-width: 48rem;
      padding: 4rem 0rem 2rem;
    }
  }
  .container {
    &Button {
      right: 2.5rem;
    }
  }
}
