@use "sass:map";
@import "@/app/styles/variables.scss";
.row {
  height: 7.5rem;

  > td {
    font-size: map.get($font-sizes, "medium");
    font-family: $primary-font;
    font-weight: bold;

    text-transform: capitalize;
  }
}
