@use "sass:map";
@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 50rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: 0.1rem solid rgb(220, 219, 219);

  -webkit-box-shadow: 6px 13px 24px -17px rgba(66, 68, 90, 0.46);
  -moz-box-shadow: 6px 13px 24px -17px rgba(66, 68, 90, 0.46);
  box-shadow: 6px 13px 24px -17px rgba(66, 68, 90, 0.46);

  &Button {
    all: unset;

    margin-right: 1rem;
    box-sizing: border-box;
    border: 1px solid transparent;
    svg {
      cursor: pointer;

      width: 2.5rem;
      height: 2.5rem;

      fill: rgb(83, 79, 79);
    }

    transition: border-color 0.2s linear;
  }

  &Input {
    width: 100%;
    padding: 0.3rem;
    padding-left: 0.5rem;
    border-radius: 0.6rem;
    border: 0.1rem solid $light-gray;
    background-color: white;

    font-size: 2rem;
    font-family: $primary-font;
    color: rgb(73, 71, 71);

    &Error {
      border-color: $red;
      outline: $red;
      &::placeholder {
        color: $red;
      }
    }

    &:focus,
    &:active {
      outline: 0.1rem solid rgb(140, 139, 139);
    }
  }
}
