@import "@/app/styles/variables.scss";

$footer-height: 5rem;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6rem 2rem 4rem;
  max-width: 1240px;
  margin: 0 auto;
  min-height: calc(100dvh - $footer-height);

  &Container {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    margin-bottom: 3rem;
  }
}

.container {
  &Title {
    background-clip: text;

    font-size: 3rem;
    font-family: $primary-font;
    font-style: italic;

    text-align: center;
    letter-spacing: 0.1rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
