.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6rem 2rem 0rem;
  max-width: 1240px;
  margin: 0rem auto 40px auto;
  height: 100%;

  &Container {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    margin: 2rem 0rem 6rem;
  }
}

.container {
  &Title {
    letter-spacing: 0.1rem;
    font-size: 5rem;
    font-family: Brush Script MT;
    font-style: italic;

    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }
}
