@import "../mixins.scss";

$icon-dimension: 20rem;
.notFound {
  @include error-container;
  font-size: 2rem;

  text-align: center;
  &Container {
    display: grid;
    grid-gap: 2rem;
  }

  svg {
    height: $icon-dimension;
    width: $icon-dimension;
    margin-top: 5rem;
  }
}

.container {
  &Title {
    @include error-title;
  }

  &Message {
    font-size: 3rem;
  }

  &Link {
    color: $light-blue;
    font-weight: bold;
    font-size: 3.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
