@use "sass:map";
@import "@/app/styles/variables.scss";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "desktop")) {
  .crossBtn {
    padding: 0.8rem;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
