@use "sass:map";
@import "@/app/styles/variables.scss";
@import "./base.module.scss";

@media only screen and (min-width: map.get($breakpoints, "small-screens")) {
  .navigation {
    padding-right: 2rem;
    &Link {
      font-size: map.get($font-sizes, "base");

      padding: 1rem 0.8rem 0em;
    }
  }
}
